.delete{
    float: right;
    background-color: red;
    border-radius: 3px;
    padding: 3px 12px;
}
table{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #efefef;
    border: 2px solid black;
    border-collapse: collapse;

}
tr,td,th{
    border: 2px solid black;
    text-align: center;
}